@font-face {
  font-family: varela;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(varela.woff2) format('woff2');
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #81C784;
  color: #222;
  font-family: varela;
  text-align: center;
  user-select: none;
  overflow: hidden;
}

main {
  box-sizing: border-box;
  width: 344px;
  margin-top: -20vh;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .45), 0 1px 1px 0 rgba(0, 0, 0, .35), 0 1px 3px 0 rgba(0,0,0,.3);
  cursor: pointer;
}

h1 {
  display: inline-block;
  font-size: 2.5em;
  font-weight: 400;
}

h1:after {
  display: block;
  content: "(tap anywhere for new fact)";
  font-size: .4em;
}

p {
  margin-top: 0;
  font-size: 1.5em;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: .3em;
  background: #fff;
  font-size: 1.5em;
}

footer img {
  vertical-align: middle;
}

@media (orientation: landscape) {
  main {
    width: 70vh;
    margin-top: -10vh;
  }
  h1 {
    font-size: 7vh;
  }
  h1:after {
    font-size: 2.5vh;
  }
  p {
    font-size: 4.5vh;
  }
}
